body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
}

.container_cadastro {
    width: 300px;
    height: auto;
    padding: 20px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;

    border-style: none;
    border-radius: 15px;
    display: flex;
}

.input_cadastro {
    width: 250px;
    height: 35px;
    border: none;
    text-align: initial;
    margin-top: -15px;
    background: transparent;
    border-bottom: 1px solid black;
}

.button{
    width: 250px;
    height: 35px;
    background-color: #ffd700;
    color: black;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.container_login {
    width: 300px;
    height: auto;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    margin-top: 20px;
    margin-left: 15px;  
}